

<% if user_signed_in? %>
<p>Aila to enkr lor homepage </p>
<% end %>

<% if !user_signed_in? %>
  <div class='homepage-content'>
    <p>To lor main homepage acoz to parkor logged in MACRO </p>
  </div>
<% end %>
